body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #222222;
	position: relative;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #222222;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
/* header */
.header_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.header_logo {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 27px;
	padding-right: 27px;
}
.header_logo_img {
	display: flex;
	align-content: center;
	justify-content: center;
}
.header_logo a {
    display: flex;
    align-items: center;
}
.header_menu_inner {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-left: 1px solid #eee;
}
.header_top_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
}
.header_top_menu {
	padding: 20px;
}
.header_top_menu ul {
	display: flex;
	flex-direction: row;
}
.header_top_menu ul li {
	padding-right: 50px;
}
.header_top_menu ul li a {
	color: #000;
	font-size: 15px;
}
.header_top_menu ul li a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_url {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_top_login {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #F5F5F5;
	border-radius: 3px;
}
.header_top_login a {
	font-size: 13px;
    padding: 11.5px 20px;
}
.header_top_login a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_login a:first-child {
	padding-right: 15px;
}
.header_top_login a:last-child {
	padding-left: 15px;
}
.line {
	display: flex;
	width: 1px;
	height: 20px;
	background: #DCDCDC;
}
.header_top_search {
	padding-left: 20px;
}
.header_top_search a {
	cursor: pointer;
	background-color: #F5F5F5;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}
.header_top_search a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_search_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 5px;
}
.header_top_cart {
	padding-left: 20px;
	padding-right: 20px;
}
.header_top_cart a {
	background-color: #F5F5F5;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	padding: 8px 20px;
}
.header_top_cart a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.cart_inner {
	display: flex;
	flex-direction: row;
	position: relative;
}
.cart_col {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #9B1515;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -8px;
    top: -2px;
}
.cart_text {
	padding-left: 15px;
}
.cart_col span {
	color: #fff;
	font-size: 11px;
}
.header_bottom_menu ul {
	display: flex;
	flex-direction: row;
}
.header_bottom_menu ul li:first-child {
	padding-right: 20px;
	padding-left: 20px;
}
.header_bottom_menu ul li {
	padding-right: 50px;
}
.header_bottom_menu ul li a {
	font-size: 15px;
	color: #9B1515;
}
.header_bottom_menu ul li a:hover {
	text-decoration: underline;
}
.header_bottom_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
.header_bottom_stock {
	display: flex;
	flex-direction: row;
}
.header_bottom_stock a {
	display: flex;
	flex-direction: row;
	padding-right: 10px;
}
.header_bottom_stock a:hover span {
	text-decoration: underline;
}
.stock_img {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 50%;
}
.stock_1 .stock_img {
	background-color: #9B1515;
}
.stock_1 span {
	color: #9B1515;
}
.stock_2 .stock_img {
	background-color: #66B02D;
}
.stock_2 span {
	color: #66B02D;
}
.stock_3 .stock_img {
	background-color: #1A81E0;
}
.stock_3 span {
	color: #1A81E0;
}

/* main slider */
.main_inner {
	height: 500px;
	display: flex;
	flex-direction: row;
}
.main_big {
	background-color: #F5F5F5;
	width: 70%;
}
.main_small {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.main_block {
	width: 100%;
	height: 100%;
	display: flex;
}
.main_1 {
	background-color: #E5E5E5;
}
.main_2 {
	background-color: #D7D7D7;
}

/* box */
.box_inner {
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	padding-bottom: 70px;
	padding-left: 30px;
	padding-right: 30px;
}
.box_title {
    text-align: center;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box_title h2 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.box_title::after {
    display: block;
    width: 64px;
    height: 2px;
    background-color: #9B1515;
    content: '';
    margin-top: 20px;
}
.box_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box_block {
    width: 16.6666%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	position: relative;
}
.box_block:hover h5 {
	color: #9B1515;
	text-decoration: underline;
}
.box_content_title h5 {
	font-family: "PT Sans", sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 42px;
}
.box_content_title {
	max-width: 230px;
}
.box_price span {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}
.box_img_content {
	position: relative;
}
.box_sticker {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #C05757 0%, #9B1515 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 26px;
    left: -10px;
}
.box_img img {
	max-width: 162px;
}
.box_url {
	position: absolute;
	width: 100%;
	height: 100%;
}
.box_2 {
	background: #F5F5F0;
}
.box_title h5 {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 42px;
}
.box_aksii .box_price span.delete {
	font-weight: normal;
	position: relative;
}
.box_aksii .box_price span.delete:before {
	content: " ";
	display: block;
	width: 100%;
	border-top: 2px solid #FF0000;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-14deg);
}
