* {
    box-sizing: border-box;
}
body {
	font-family: 'PT Sans', sans-serif;
	font-size: 14px;
	color: #222222;
	position: relative;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #222222;
}
ul, ol {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input::placeholder {
	font-size: 15px;
	text-align: center;
	color: #7A7A7E;
}
/* header */
.header_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border-bottom: 1px solid #eee;
}
.header_logo {
	display: flex;
	align-content: center;
	justify-content: center;
	padding-left: 27px;
	padding-right: 27px;
}
.header_logo_img {
	display: flex;
	align-content: center;
	justify-content: center;
}
.header_logo a {
    display: flex;
    align-items: center;
}
.header_menu_inner {
	display: flex;
	flex-direction: column;
	flex: 1;
	border-left: 1px solid #eee;
}
.header_top_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 1px solid #eee;
}
.header_top_menu {
	padding: 20px;
}
.header_top_menu ul {
	display: flex;
	flex-direction: row;
}
.header_top_menu ul li {
	padding-right: 50px;
}
.header_top_menu ul li a {
	color: #000;
	font-size: 15px;
}
.header_top_menu ul li a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_url {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_top_login {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background: #F5F5F5;
	border-radius: 3px;
}
.header_top_login a {
	font-size: 13px;
    padding: 11.5px 20px;
}
.header_top_login a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_login a:first-child {
	padding-right: 15px;
}
.header_top_login a:last-child {
	padding-left: 15px;
}
.line {
	display: flex;
	width: 1px;
	height: 20px;
	background: #DCDCDC;
}
.header_top_search {
	padding-left: 20px;
}
.header_top_search a {
	cursor: pointer;
	background-color: #F5F5F5;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px 20px;
}
.header_top_search a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.header_top_search_img {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-right: 5px;
}
.header_top_cart {
	padding-left: 20px;
	padding-right: 20px;
}
.header_top_cart a {
	background-color: #F5F5F5;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	padding: 8px 20px;
}
.header_top_cart a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.cart_inner {
	display: flex;
	flex-direction: row;
	position: relative;
}
.cart_col {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #9B1515;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -8px;
    top: -2px;
}
.cart_text {
	padding-left: 15px;
}
.cart_col span {
	color: #fff;
	font-size: 11px;
}
.header_bottom_menu ul {
	display: flex;
	flex-direction: row;
}
.header_bottom_menu ul li:first-child {
	padding-right: 20px;
	padding-left: 20px;
}
.header_bottom_menu ul li {
	padding-right: 50px;
}
.header_bottom_menu ul li a {
	font-size: 15px;
	color: #9B1515;
}
.header_bottom_menu ul li a:hover {
	text-decoration: underline;
}
.header_bottom_content {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}
.header_bottom_stock {
	display: flex;
	flex-direction: row;
}
.header_bottom_stock a {
	display: flex;
	flex-direction: row;
	padding-right: 10px;
}
.header_bottom_stock a:hover span {
	text-decoration: underline;
}
.stock_img {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 10px;
	border-radius: 50%;
}
.stock_1 .stock_img {
	background-color: #9B1515;
}
.stock_1 span {
	color: #9B1515;
}
.stock_2 .stock_img {
	background-color: #66B02D;
}
.stock_2 span {
	color: #66B02D;
}
.stock_3 .stock_img {
	background-color: #1A81E0;
}
.stock_3 span {
	color: #1A81E0;
}

/* main slider */
.main_inner {
	height: 500px;
	display: flex;
	flex-direction: row;
}
.main_big {
	background-color: #F5F5F5;
	width: 70%;
}
.main_small {
	display: flex;
	flex-direction: column;
	width: 30%;
}
.main_block {
	width: 100%;
	height: 100%;
	display: flex;
}
.main_1 {
	background-color: #E5E5E5;
}
.main_2 {
	background-color: #D7D7D7;
}
.tovar_slide .slick-slide.slick-active .tovar_slide_img::after {
    background-color: rgba(255, 255, 255, 0.3);
    content: '';
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
}
.tovar_slide .slick-slide.slick-current.slick-active .tovar_slide_img::after {
    display: none;
}
.slick-vertical .slick-slide {
    outline: none
}
/* box */
.box_inner {
	display: flex;
	flex-direction: column;
	padding-top: 70px;
	padding-bottom: 10px;
}
.box_title {
    text-align: center;
    padding-bottom: 72px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box_title h2 {
	font-family: 'Playfair Display', sans-serif;
	font-size: 24px;
	line-height: 32px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}
.box_3 .box_title::after {
	background-color: #DCD0C5;
}
.box_title::after {
    display: block;
    width: 64px;
    height: 2px;
    background-color: #9B1515;
    content: '';
    margin-top: 20px;
}
.box_content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.box_block {
    width: 16.6666%;
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	position: relative;
	padding-bottom: 60px;
}
.box_block_content {

}
.box_block:hover h5 {
	color: #9B1515;
	text-decoration: underline;
}
.box_content_title h5 {
	font-family: "PT Sans", sans-serif;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	color: #000000;
	margin-bottom: 10px;
	margin-top: 10px;
	height: 42px;
}
.box_content_title {
	max-width: 230px;
}
.box_price span {
	font-family: "PT Sans", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}
.box_img_content {
	position: relative;
}
.box_soon {
	font-style: normal;
	font-weight: bold;
	font-size: 11px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.5em;
	color: #9B1515;
	padding-top: 10px;
}
.box_sticker {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: linear-gradient(180deg, #C05757 0%, #9B1515 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 26px;
    left: -10px;
}
.box_img img {
	max-width: 162px;
}
.box_url {
	position: absolute;
	width: 100%;
	height: 100%;
}
.box_2 {
	background: #F5F5F0;
}
.box_title h5 {
    font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 42px;
}
.box_aksii {
	width: 16.6666%;
	padding-left: 15px;
	padding-right: 15px;
}
.box_aksii_content {
    background-color: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	position: relative;
}
.box_aksii_content:hover h5 {
	text-decoration: underline;
	color: #9B1515;
}
.box_aksii .box_price span.delete {
	font-weight: normal;
	position: relative;
	padding-right: 15px;
}
.box_aksii .box_price span.delete:before {
	content: " ";
	display: block;
	width: 100%;
	border-top: 2px solid #FF0000;
	height: 12px;
	position: absolute;
	bottom: 0;
	left: 0;
	transform: rotate(-14deg);
}
.box_3 {
	background: #F9F0E8;
	padding-bottom: 70px;
}
.box_3 .box_title {
	color: #9B1515;
}
.box_container {
	max-width: 1900px;
    margin: 0 auto;
    width: 100%;
}
.box_aksii_title h5 {
	font-family: "PT Sans", sans-serif;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 42px;
}
/* БЕСТСЕЛЛЕРЫ */
.box_best_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.best_block {
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: row;
}
.best_img {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
	position: relative;
}
.best_img a {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.best_content {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
	width: 70%;
}
.best_content h5 {
	font-family: 'Playfair Display', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	line-height: 32px;
	color: #000000;
	margin-bottom: 20px;
	margin-top: 0;
}
.best_content h5:hover a{
	text-decoration: underline;
	color: #9B1515;
}
.best_price {
	font-size: 18px;
	line-height: 23px;
	text-align: left;
	font-weight: bold;
	color: #000000;
}
.best_desc {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #555555;
}
.box_5 {
	background-color: #EAF7FF;
	padding-bottom: 70px;
}
.box_5 .box_title h2 {
	color: #095093;
}
.box_5 .box_title::after {
    background-color: #095093;
}
/* footer */
.footer_top {
	border-bottom: 1px solid #eee;
	padding-top: 50px;
	padding-bottom: 40px;
}
.footer_container {
	max-width: 1000px;
	margin: 0 auto;
}
.footer_inner {
	display: flex;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
.footer_block {
	width: 33.3333%;
	padding-left: 15px;
	padding-right: 15px;
	display: flex;
	flex-direction: column;
}
.footer_block_title {
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 26px;
	color: #000000;
	padding-bottom: 20px;
}
.footer_block ul {
	display: flex;
	flex-direction: column;
}
.footer_block ul li {
	display: flex;
    padding-bottom: 20px;
}
.footer_block ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 18px;
	color: #555555;
}
.footer_block ul li a:hover {
	text-decoration: underline;
	color: #9B1515;
}
.footer_soc ul {
	display: flex;
	flex-direction: row;
}
.footer_soc ul li {
	margin-right: 15px;
}
.footer_soc ul li a {
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer_bottom span {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
}
/* modal */
.login_modal_inner {
	padding: 30px;
	max-width: 360px;
}
.login_modal {
	display: flex;
	flex-direction: column;
}
.login_modal_title {
    font-family: 'Playfair Display', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000;
    text-align: center;
    letter-spacing: 0.5em;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_modal_title::after {
    display: block;
    width: 64px;
    height: 2px;
    background-color: #9B1515;
    content: '';
    margin-top: 20px;
}
.login_modal_form {
	display: flex;
	flex-direction: column;
}
.login_modal_form input[type=text], .login_modal_form input[type=password] {
	border: 1px solid #eee;
	padding: 15px;
	font-size: 15px;
	outline: none;
	text-align: center;
	margin-bottom: 10px;
}
.login_modal_form input[type=text]:focus, .login_modal_form input[type=password]:focus {
	border-color: #999;
}
.login_modal_form input[type=submit] {
	font-family: 'PT Sans', sans-serif;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #FFFFFF;
	background: #9B1515;
	border: none;
	outline: none;
	padding: 15px;
	cursor: pointer;
	font-weight: bold;
}
.login_modal_form input[type=submit]:hover {
	background: #c32020;
}
.login_modal_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 15px;
}
.login_modal_footer a {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 19px;
	text-align: center;
	color: #9B1515;
	border-bottom: 1px solid #9B1515;
}
.login_modal_footer a:hover {
	border: none;
}
/* КАТАЛОГ */
.cat_block {
	width: 20%;
	padding-left: 15px;
	padding-right: 15px;
}
.box_cat {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-left: 40px;
	padding-right: 40px;
    margin-left: -15px;
    margin-right: -15px;
    padding-bottom: 60px;
    width: 100%;
}
.cat_content {
	position: relative;
	height: 140px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	border-radius: 10px;
}
.cat_content:hover a {
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 31%, rgba(34,34,34,0.4) 100%);
}
.cat_content a {
	position: absolute;
	width: 100%;
	height: 100%;
}
.cat_content h3 {
	font-family: 'Playfair Display', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 21px;
	text-align: center;
	color: #000000;
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
/* РАЗДЕЛЫ */
.razdel1 {
    background: #E3B130;
}
.razdel2 {
    background-image: url(./img/razdel2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.razdel3 {
    background: #5791D6;
}
.razdel4 {
    background: #4D6CDC;
}
.razdel5 {
    background: #592ED3;
}
.razdel6 {
    background: #812ED3;
}
.razdel7 {
    background: #B22ED3;
}
.razdel8 {
    background: #DE1299;
}
.razdel2 .razdel_desc_content h5 {
    color: #1C4889;
}
.razdel2 .razdel_desc_content span {
    color: rgba(0, 0, 0, 0.7);
}
.razdel {
    padding-top: 50px;
    padding-bottom: 70px;
}
.razdel_container {
    max-width: 1900px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 40px;
    padding-right: 40px;
}
.razdel_desc {
    width: 15%;
}
.razdel_book {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 50px;
}
.razdel_block {
    width: 16.6666%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.razdel_block:hover h3 {
    text-decoration: underline;
    color: #9B1515;
}
.razdel_block a {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.razdel_img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.razdel_img img {
    max-width: 140px;
}
.razdel_block h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.razdel_price {
    text-align: center;
}
.razdel_price span.delete {
    font-weight: normal;
    position: relative;
    margin-right: 10px;
}
.razdel_price span.delete:before {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid #FF0000;
    height: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-14deg);
}
.razdel_price span {
    font-weight: bold;
}
.razdel_desc_content h5 {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 0;
}
.razdel_desc_content span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.7);
}
/* ТОВАР */
.tovar_main {
    padding-top: 60px;
    padding-bottom: 70px;
    background: #F9F9F9;
}
.tovar_container {
    max-width: 960px;
    margin: 0 auto;
}
.tovar_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tovar_img_inner {
    display: flex;
    flex-direction: row;
    width: 320px;
    position: relative;
}
.tovar_slide_img {
    margin-bottom: 10px;
    position: relative;
}
.tovar_slide_img img {
    width: 55px;
}
.tovar_desc_inner {
    flex: 1;
    padding-left: 40px;
}
.tovar_slide_inner {
    position: absolute;
    left: -100px;
    top: 0;
    width: 57px;
}
.tovar_desc_inner h1 {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-top: 0;
    margin-bottom: 10px;
}
.tovar_img_big_inner {
    width: 320px;
    height: 460px;
}
.tovar_img_block {
    overflow: hidden;
}
.tovar_img_big, .tovar_slide {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.tovar_img_big.slick-initialized, .tovar_slide.slick-initialized {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.tovar_slide .slick-slide {
    height: 80px;
    margin-bottom: 5px;
    cursor: pointer;
}
.tovar_autor {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #777777;
}
.tovar_sticker {
    display: flex;
    flex-direction: row;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
.sticker_block {
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 35px;
    text-align: center;
    font-style: italic;
}
.sticker1 {
    background-image: url(./img/sticker1.png);
    color: rgba(0, 0, 0, 0.6);
}
.sticker2 {
    background-image: url(./img/sticker2.png);
    color: rgba(255, 255, 255, 0.9);
    left: -20px;
    position: relative;
}
.sticker3 {
    background-image: url(./img/sticker3.png);
    color: rgba(255, 255, 255, 0.9);
    left: -40px;
    position: relative;
}
.tovar_tag {
    padding-top: 20px;
}
.tovar_tag ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.tovar_tag ul li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.tovar_tag ul li a {
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #9B1515;
    padding: 6px 10px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 3px;
}
.tovar_tag ul li a:hover {
    color: #fff;
    background: #9B1515;
}
.tovar_radio_block {
    width: 33.3333%;
}
.tovar_radio_block label:hover {
    color: #9B1515;
}
.tovar_radio_block label {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 12px;
    cursor: pointer;
    border-bottom: 2px solid #E7E7E7;
}
.tovar_radio_icon {
    padding-right: 10px;
}
.tovar_meta {
    display: flex;
    flex-direction: column;
}
.tovar_radio_block input[type=radio] {
    display: none;
}
.tovar_radio_block input[type=radio]:checked+label {
    border-bottom: 2px solid #9B1515;
    color: #9B1515;
}
.tovar_radio_block input[type=radio]:checked+label .tovar_radio_icon img svg {
    fill: #9B1515;
}
.tovar_radio {
    display: flex;
    flex-direction: row;
}
.tovar_info {
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: row;
}
.tovar_price {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    padding-right: 20px;
}
.tovar_tech {
    width: 40%;
    padding-left: 20px;
    border-left: 1px solid #eee;
    font-size: 12px;
    line-height: 12px;
    color: #555555;
}
.tovar_tech p {
    margin-top: 0;
    margin-bottom: 8px;
}
.tovar_price_content {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 31px;
    color: #000000;
}
.tovar_price_content span {
    position: relative;
    font-weight: bold;
}
.tovar_price_content span.delete {
    font-weight: normal;
    margin-right: 10px;
}
.tovar_price_content span.delete:after {
    content: " ";
    display: block;
    width: 100%;
    border-top: 2px solid #FF0000;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-14deg);
}
.tovar_price input[type=submit] {
    background: #9B1515;
    border-radius: 40px;
    color: #fff;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    border: none;
    outline: none;
    padding: 10px 25px;
    cursor: pointer;
}
.tovar_price input[type=submit]:hover {
    background: #c32020;
}
.tovar_desc {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.tovar_desc_content {
    padding-top: 70px;
    padding-bottom: 70px;
}
.tovar_desc_title {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.tovar_desc_main {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}
.fragment .tovar_desc_title {
    padding-top: 70px;
    padding-bottom: 30px;
}
.fragment_slide_inner  .slick-slide {
    max-width: 960px;
}
.fragment_slide_content {
    position: relative;
}
.arrow_right {
    width: 26px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.03);
    background-image: url(./img/arrow_right.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 8px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 46%;
    z-index: 11;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.arrow_right.slick-disabled, .arrow_left.slick-disabled {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.arrow_left:hover, .arrow_right:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
.fragment_slide_inner .slick-slide:hover {
    cursor: pointer;
}
.arrow_left {
    width: 26px;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.03);
    background-image: url(./img/arrow_left.png);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
    padding: 8px;
    display: flex;
    position: absolute;
    left: 15px;
    top: 46%;
    z-index: 11;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.feedback_container {
    max-width: 715px;
    margin: 0 auto;
}
.feedback_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
}
.feedback_block {
    display: flex;
    flex-direction: row;
}
.feedback_avatar {
    width: 60px;
    height: 60px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.feedback_avatar img {
    border-radius: 50%;
}
.feedback_desc {
    flex: 1;
    padding-left: 15px;
}
.feedback_name span {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #000000;
}
.feedback_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #555555;
}
.feedback_text_content {
    height: 80px;
    overflow: hidden;
}
.feedback_text p {
    margin-top: 5px;
    margin-bottom: 5px;
}
.feedback_block {
    margin-bottom: 60px;
}
.hide_text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #9B1515;
    border-bottom: 1px solid #9B1515;
}
.hide_text:hover {
    border: none;
}
.feedback {
    padding-top: 70px;
    padding-bottom: 70px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.fragment_slide_inner {
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}
.fragment_slide_inner.slick-initialized {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
}
.video_inner {
    padding-top: 50px;
}
.tovar_video {
    padding-top: 70px;
    padding-bottom: 70px;
    border-bottom: 1px solid #eee;
}
